package {{.PackageName}}

import (
	"{{.PackagePath}}"
)

import (
	"github.com/dop251/goja"
	"github.com/gogap/gojs-tool/gojs"
)

var (
	module = gojs.NewGojaModule("{{.PackageName}}")
)

func init() {
	module.Set(
		gojs.Objects{
			{{- $pkgName:=.PackageName -}}
			{{range $objName, $objDefine := .PackageFuncs}}
			"{{$objName}}": {{$pkgName}}.{{$objDefine}},
			{{- end -}}
			{{range $objName, $objDefine := .PackageVars}}
			"{{$objName}}": {{$pkgName}}.{{$objDefine}},
			{{- end}}
			},
		).Register()
}

func Enable(runtime *goja.Runtime) {
	module.Enable(runtime)
}